@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

*{
  box-sizing: border-box;
}

body{
  /* background-color: #2b88f0; */
  background-color: rgb(10, 10, 10);
  font-family: 'Muli', sans-serif;
  display: flex;
  flex-direction:column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

h3 {
  color:white;
  margin: 10px 0 20px;
  text-align: center;
  animation: blur 2s ease-out 3;
  font-size: 25px;
  font-weight: 600;
  text-shadow: 0px 0px 5px rgb(58, 56, 56), 0px 0px 7px rgb(58, 56, 56);
}

@keyframes blur {
  from {
    text-shadow:0px 0px 10px rgb(58, 56, 56),
      0px 0px 10px rgb(58, 56, 56),
      0px 0px 25px rgb(58, 56, 56),
      0px 0px 25px rgb(58, 56, 56),
      0px 0px 25px rgb(58, 56, 56),
      0px 0px 25px rgb(58, 56, 56),
      0px 0px 25px rgb(58, 56, 56),
      0px 0px 25px rgb(58, 56, 56),
      0px 0px 50px rgb(58, 56, 56),
      0px 0px 50px rgb(58, 56, 56),
      0px 0px 50px #7B96B8,
      0px 0px 150px #7B96B8,
      0px 10px 100px #7B96B8,
      0px 10px 100px #7B96B8,
      0px 10px 100px #7B96B8,
      0px 10px 100px #7B96B8,
      0px -10px 100px #7B96B8,
      0px -10px 100px #7B96B8;
  }
}

.container {
  max-width: 500px;
}

textarea {
  border:none;
  display: block;
  width: 100%;
  height: 100px;
  font-family: inherit;
  padding:10px;
  margin: 0 0 20px;
  font-size: 16px;
}

.tag__wrapper{
  justify-content: center;
}
.tag {
  background-color: rgba(171, 164, 131,0.6);
  box-shadow: 0px 0px 10px #f5eddc;
  color:#fff;
  border:1px white;
  border-radius: 50px;
  padding: 10px 20px;
  margin: 0 25px 10px 0;
  font-size:14px;
  font-weight: 800;
  display:inline-block;
}

.tag.highlight {
  background-color: rgb(216, 249, 4);
  color: rgb(196, 194, 194);
  font-weight: 800;
  animation: blurHighlight .75s ease-out 5;
}
@keyframes blurHighlight {
  from {
    box-shadow:0px 0px 10px #f5eddc,
      0px 0px 10px #f5eddc,
      0px 0px 25px #f5eddc,
      0px 0px 25px #f5eddc,
      0px 0px 25px #f5eddc,
      0px 0px 25px #f5eddc,
      0px 0px 25px #f5eddc,
      0px 0px 25px #f5eddc,
      0px 0px 50px #f5eddc,
      0px 0px 50px #f5eddc,
      0px 0px 50px #e6f704,
      0px 0px 350px #e6f704,
      0px 10px 100px #e6f704,
      0px 10px 100px #f5eddc,
      0px 10px 100px #f5eddc,
      0px 10px 100px #f5eddc,
      0px -10px 100px #f5eddc,
      0px -10px 100px #f5eddc;
  }
}
